@model IEnumerable<BookDTO>
@{
    ViewData["Title"] = "BookIndex";
}
<h1>BookIndex</h1>
<p>
    <a asp-action="BookCreate" class="btn btn-outline-primary">Create</a>
</p>
<form asp-action="BookFromAuthor" >
    <span>Input Author</span>
    <input type="text" name="authorName" />
    <input type="submit" value="Search" class="btn btn-primary" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Author)</td>
                <td>@Html.DisplayFor(modelItem => item.Available)</td>
                <td>@Html.DisplayFor(modelItem => item.ReleaseDate)</td>
                <td>
                    <a asp-action="BookDetails" class="btn btn-success" asp-route-id="@item.Id">Details</a>
                    <a asp-action="BookUpdate" class="btn btn-warning" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="BookDelete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>